In [11]:
# Import dependencies
import pandas as pd
import os
from datetime import datetime, timedelta
import pyproj
import numpy as np

In [12]:
# Get the directory of the current script
current_directory = os.getcwd()
# Name of your CSV file
filename = 'cleaned_pressure_data.csv'

# Construct the file path using os.path.join
file_path = os.path.join(current_directory, filename)

In [13]:
# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

In [5]:
# Display the first and last 5 rows of the new DataFrame
df.head(-5)

           Time           X           Y  Pressure     Layer
0         41670  2106604.41  3434119.83   7952.25   Layer_1
1         41670  2111884.40  3434119.83   7970.05   Layer_1
2         41670  2037964.57  3439399.82   7658.27   Layer_1
3         41670  2043244.56  3439399.82   7754.00   Layer_1
4         41670  2048524.55  3439399.82   7828.24   Layer_1
...         ...         ...         ...       ...       ...
15938297  44226  1942924.80  4036038.37   3937.11  Layer_20
15938298  44226  1948204.79  4036038.37   4052.17  Layer_20
15938299  44226  1953484.78  4036038.37   4154.71  Layer_20
15938300  44226  1958764.76  4036038.37   4245.80  Layer_20
15938301  44226  1964044.76  4036038.37   4325.31  Layer_20

[15938302 rows x 5 columns]

In [14]:
# Convert time to dates
df['Time'] = pd.to_datetime('1902-12-01') + pd.to_timedelta(df['Time'], unit='D')

In [15]:
# Display the DataFrame with updated Time Column
df

               Time           X           Y  Pressure     Layer
0        2017-01-01  2106604.41  3434119.83   7952.25   Layer_1
1        2017-01-01  2111884.40  3434119.83   7970.05   Layer_1
2        2017-01-01  2037964.57  3439399.82   7658.27   Layer_1
3        2017-01-01  2043244.56  3439399.82   7754.00   Layer_1
4        2017-01-01  2048524.55  3439399.82   7828.24   Layer_1
...             ...         ...         ...       ...       ...
15938302 2024-01-01  1969324.75  4036038.37   4405.18  Layer_20
15938303 2024-01-01  1974604.74  4036038.37   4484.27  Layer_20
15938304 2024-01-01  1948204.79  4041318.37   4016.18  Layer_20
15938305 2024-01-01  1953484.78  4041318.37   4119.08  Layer_20
15938306 2024-01-01  1958764.76  4041318.37   4214.97  Layer_20

[15938307 rows x 5 columns]

In [16]:
# Export the DataFrame to a csv file
df.to_csv('updated_pressure_data.csv', index=False)